
<div ng-controller="MainCtrl">
  <div class="intro-header">
    <div class="container landing-page">
      <div class="row">
        <div class="col-md-12">
          <div class="intro-message">
            <h1>FiveSpots</h1>
            <div class="intro-message-tagline col-md-8 col-md-offset-2">
            <p>Simple, fast app to discover restaurants in your area.</p>
            </div>
          </div>
        <!-- commented out for testing buttons -->
          <!-- <div class="row buttons-row">
            <div class="buttons" >
              <button ng-click="restaurantSelect('high')" class="btn btn-primary btn-xlarge">High Five</button>
              <button ng-click="restaurantSelect('low')" class="btn btn-warning btn-xlarge">Low Five</button>
            </div>
          </div> -->
        <!-- end commented out for testing buttons -->
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div ng-controller="RestaurantsCtrl">

 <!-- added for testing buttons -->
     <div class="row buttons-row">
        <div class="buttons" >
          <button ng-click="restaurantSelect('high')" class="btn btn-primary btn-xlarge">High Five</button>
          <button ng-click="restaurantSelect('low')" class="btn btn-warning btn-xlarge">Low Five</button>
        </div>
      </div>
 <!-- end added for testing buttons -->
      <div class="restaurants-list col-sm-3">
        <div ng-repeat="restaurant in restaurants | limitTo:5">
          <hr />
          <h4>{{ restaurant.name }} </h4>
          <img src="https://maps.googleapis.com/maps/api/place/photo?maxheight=100&maxwidth=100&photoreference={{ restaurant.photoReference }}&key=AIzaSyAwBJ9Ra3Iwzm0VVPDIi-cV0xD0lWq8AP0" />
          address: {{ restaurant.vicinity }}<br />
          price level: {{ restaurant.priceLevel }}<br />
          rating: {{ restaurant.rating }}<br />
          <div ng-controller="ReviewCtrl">
            <button ng-click="getReview(restaurant.id)">get reviews</button>
            <button ng-click="postReview(restaurant.id)">post review</button>
          </div>
        </div>
      </div> 
      <div class="search-map col-sm-9">  
        <ui-gmap-google-map center="map.center" zoom="map.zoom">
          <ui-gmap-marker coords="marker.coords" idKey="'user'" icon="'https://maps.gstatic.com/mapfiles/ms2/micons/grn-pushpin.png'">
          </ui-gmap-marker>
          <ui-gmap-markers coords="'self'" models="restaurantMarkers" idKey="restaurantMarkers.id">
          </ui-gmap-markers>
        </ui-gmap-google-map>
      </div>
    </div>
  </div>
</div> 




